{% extends "basic_layout.html" %}
{% load static %}
{% block content%}
	
	<!-- Home -->

	<div class="home">
		<div class="background_image" style="background-image:url({% static 'images/about.jpg' %})"></div>
	</div>

	 <br/>

	<!-- About -->

	<div class="about">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_subtitle">An amazing village in the NW</div>
					<div class="section_title"><h2>Mambu at a glance</h2></div>
				</div>
			</div>
			<div class="row about_row">
				<div class="col-lg-12">
					<div class="about_content">
						<div class="text_highlight" style="text-align: center;">Captivating header on Mambu here!!</div>
						<div class="about_text" style="text-align: center;">
							<p>Detailed info goes here!!</p>
						</div>
					</div>
				</div>
				 
			</div>
		</div>
	</div>
   <hr/><br/><br/>
	<!-- Milestones -->

	<div class="milestones">
		<div class="container">
			<div class="row">
				
				<!-- Milestone developmental achievements in pictures -->
				<div class="col-lg-3 milestone_col">
					<div class="milestone text-center">
						<div class="milestone_icon"><img style="width: 40%;height: 40%;" src="{% static 'images/mountain.svg' %}" alt=""></div>
						<div class="milestone_counter" data-end-value="17"></div>
						<div class="milestone_text"><p>1970s</p>
							<p>Small summary of major achievement in the 70s</p>
						</div>
					</div>
				</div>

				<!-- Milestone -->
				<div class="col-lg-3 milestone_col">
					<div class="milestone text-center">
						<div class="milestone_icon" ><img style="width: 40%;height: 40%;" src="{% static 'images/island.svg' %}" alt=""></div>
						<div class="milestone_counter" data-end-value="213"></div>
						<div class="milestone_text">
							<p>1980s</p>
							<p>Small summary of major achievement in the 80s</p>
						</div>
					</div>
				</div>

				<!-- Milestone -->
				<div class="col-lg-3 milestone_col">
					<div class="milestone text-center">
						<div class="milestone_icon"><img style="width: 40%;height: 40%;" src="{% static 'images/camera.svg' %}" alt=""></div>
						<div class="milestone_counter" data-end-value="11923"></div>
						<div class="milestone_text"><p>1990s</p>
							<p>Small summary of major achievement in the 90s</p></div>
					</div>
				</div>

				<!-- Milestone -->
				<div class="col-lg-3 milestone_col">
					<div class="milestone text-center">
						<div class="milestone_icon"><img style="width: 40%;height: 40%;" src="{% static 'images/boat.svg' %}" alt=""></div>
						<div class="milestone_counter" data-end-value="15"></div>
						<div class="milestone_text"><p> 2000 - 2016</p>
							<p>Small summary of major achievement from 2000 - 2016</p></div>
					</div>
				</div>

			</div>
		</div>
	</div>

	 
 <hr/> <br/><br/>
	<!-- Team -->

	<div class="team">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_subtitle">Chronology of Mambu Chiefs</div>
					<div class="section_title"><h2>Meet the Chiefs</h2></div>
				</div>
			</div>
			<div class="row team_row">
				
				<!-- Team Item -->
				<div class="col-xl-3 col-md-6 team_col">
					<div class="team_item d-flex flex-column align-items-center justify-content-start text-center">
						<div class="team_image"><img style="width: 40%;height: 40%;" src="{% static 'images/team_1.jpg' %}" alt=""></div>
						<div class="team_content">
							<div class="team_title"><a href="#">Wanki I</a></div>
							<div class="team_text">
								<p>Ruled from 1900 to 19-- with 20 queens and x children. Major achievement was conquered x war. </p>
							</div>
						</div>
					</div>
				</div>

				<!-- Team Item -->
				<div class="col-xl-3 col-md-6 team_col">
					<div class="team_item d-flex flex-column align-items-center justify-content-start text-center">
						<div class="team_image"><img style="width: 40%;height: 40%;" src="{% static 'images/team_2.jpg' %}" alt=""></div>
						<div class="team_content">
							<div class="team_title"><a href="#"> Wanki II: James Williams</a></div>
							<div class="team_text">
								<p>Ruled from ...</p>
							</div>
						</div>
					</div>
				</div>

				<!-- Team Item -->
				<div class="col-xl-3 col-md-6 team_col">
					<div class="team_item d-flex flex-column align-items-center justify-content-start text-center">
						<div class="team_image"><img style="width: 40%;height: 40%;" src="{% static 'images/team_3.jpg'%}" alt=""></div>
						<div class="team_content">
							<div class="team_title"><a href="#">Wanki III: Neba</a></div>
							<div class="team_text">
								<p>Ruled from...</p>
							</div>
						</div>
					</div>
				</div>

				<!-- Team Item -->
				<div class="col-xl-3 col-md-6 team_col">
					<div class="team_item d-flex flex-column align-items-center justify-content-start text-center">
						<div class="team_image"><img style="width: 40%;height: 40%;" src="{% static 'images/team_4.jpg'%}" alt=""></div>
						<div class="team_content">
							<div class="team_title"><a href="#">Wanki IV: Suh </a></div>
							<div class="team_text">
								<p>Ruled from </p>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

{%endblock%}